.post-block.home{
  .post-title{
    height 18px
    a{
      font-size 18px
    }
  }

  .post-meta{
    font-size 14px
    margin-bottom: 0;
    time{
      color $black-deep
    }
  }

  .post-body{
    font-size 14px
    color:#777
  }
  border-bottom 1px solid #eee
}
