.post-block.home{
  border-bottom 1px solid #eee
  margin-bottom:32px;
  .post-title{
    height 18px
    margin-bottom:8px;
    a{
      font-size 18px
    }
  }

  .post-meta{
    font-size 14px
    margin-bottom: 0;
    time{
      color $black-deep
    }
  }

  .post-body{
    font-size 14px
    color:#777
    margin-bottom:16px
  }
  .post-footer{
    display none !important
  }
}
