// Header Section
// --------------------------------------------------
.header {
  background: $head-bg;
  height: 67px
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.1);
  background: #fafafa;
}

.header-inner {
  height: 100%
  margin: 0 auto;
  padding: 0px 0 0px;
  position: relative;
  width: $content-desktop;
  display :flex;
  flex-direction:row;

  +desktop-large() {
    .container & {
      width: $content-desktop-large;
    }
  }

  +desktop-largest() {
    .container & {
      width: $content-desktop-largest;
    }
  }
}

@import 'headerband';
@import 'site-meta';
@import 'site-nav';
@import 'menu';

@import 'bookmark' if (hexo-config('bookmark.enable'));

@import 'github-banner' if (hexo-config('github_banner.enable'));
