.site-nav-toggle {
  display: none;
  left: 10px;
  position: absolute;

  +mobile() {
    display: block;
  }

  button {
    background: transparent;
    border: 0;
    margin-top: 2px;
    padding: 9px 10px;

    &.site-nav-on{
      span{
        transform-origin center;
        &:nth-of-type(2){
          display none
        }
      }
      span:first-of-type{
        transform: rotate(-45deg);
      }
      span:last-of-type{
        transform: rotate(45deg);
      }

      .btn-bar + .btn-bar{
        margin-top: -2px !important;
      }
    }
  }
}

.site-nav {
  display: block;

  +mobile() {
    border-top: 1px solid $gray-lighter;
    clear: both;
    display: none;
    margin: 0 -10px;
    padding: 0 10px;
  }

  &.site-nav-on {
    display: block;
  }
}
